<%- include header %>
  <table>
    <% data.forEach(function(element) { %>
      <tr>
        <td> Service Name: </td>
        <td> <%=element.serviceName %> </td>
      </tr>
      <tr>
        <td> Image: </td>
        <td> <img src="data:image/png; base64 , <%=new Buffer( element.image, 'binary' ).toString('base64')%>"> </td>
      </tr>

    <% }); %>
  </table>
<%- include footer %>