<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Insert Service</title>
        <link rel="icon" type="image/png" href="./images/favicon.ico">
        <link rel="Stylesheet" type="text/css" href="./css/styles.css">
    </head>
    <body>
        <form id="subscribe" class="form-horizontal" role="form" method="post" action="/home/subscribe">
            <label>Service ID:</label>
            <input type="text" name="serviceID" value="<%=message%>" readonly="readonly">
            <br>

            <label>Customer ID:</label>
            <input type="text" name="customerID" value="<%=user%>" readonly="readonly">
            <br>
           
            <label>Number of Days:</label>
            <input type="number" name="noOfDays">
            <br>

            <input type="submit" value="Rent">
        </form>
    </body>
</html>
