
<body>
<div class="container">
        <div class="content">
            <div class="menu">
                <div class="col-6 side-a" id="left">
                    <img class="logo-menu" alt="logo" src="../images/menu-logo.png" href="/">

                    <form method="post" action="/home/search">
                        <input type="text" name="search" placeholder="Search for..." class="form-control">
                        <button type="submit"> Go! </button>
                    </form>

                </div>
                <div class="col-3 side-b">
                    <nav class="icons">
                        <ul>
                            <li><a href="/home/transactions"><img src="../images/bag%20(1).png"></a></li>
                            <li><a href=""><img src="../images/location%20(1).png"></a></li>
                            <li>
                                <a href="/login"><img src="../images/profile%20(1).png"> Login </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <nav class="choices">
                    <table>
                        <tr>
                            <td><a href="/home/services_attire">Attire</td>
                            <td><a href="/home/services_costume">Costume</td>
                        </tr>
                    </table>
                </nav>
            </div>
        </div>
    </div>