<<<<<<< HEAD
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Arkila</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="./images/favicon.ico">
    <link rel="Stylesheet" type="text/css" href="./css/styles.css">
</head>

<body>
    <div class="container">
        <div class="content">
            <div class="col-6">
                <img class="photo" alt="logo" src="./images/samplePhoto3.jpg">
            </div>
            <div class="col-6">
                <div id="login">
                    <img class="logo-login" alt="logo" src="./images/sampleLogo.png">
                    <h4 class="center" id="account">CUSTOMER</h4>
					<% if (message.length > 0) { %>
                                                                                    <div class="alert alert-danger col-sm-12"><%= message %></div>
                                                                        <% } %>
                    <form id="loginform" class="form-horizontal" role="form" method="post" action="/login">
                        <input id="login-username" type="text" class="form-control" name="user_name" value="" placeholder="username">
                        <input id="login-password" type="password" class="form-control" name="password" placeholder="password">
                        <button id="btn-login" type="submit" class="btn btn-success">Login  </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
=======
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Arkila</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="./images/favicon.ico">
    <link rel="Stylesheet" type="text/css" href="./css/styles.css">
</head>

<body>
    <div class="container">
        <div class="content">
            <div class="col-6">
                <img class="photo" alt="logo" src="./images/samplePhoto3.jpg">
            </div>
            <div class="col-6">
                <div id="login">
                    <img class="logo-login" alt="logo" src="./images/sampleLogo.png">
                    <h4 class="center" id="account">CUSTOMER</h4>
					<% if (message.length > 0) { %>
                                                                                    <div class="alert alert-danger col-sm-12"><%= message %></div>
                                                                        <% } %>
                    <form id="loginform" class="form-horizontal" role="form" method="post" action="/login">
                        <input id="login-username" type="text" class="form-control" name="user_name" value="" placeholder="username">
                        <input id="login-password" type="password" class="form-control" name="password" placeholder="password">
                        <button id="btn-login" type="submit" class="btn btn-success">Login  </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
>>>>>>> 2e0d50d2cd695dd3666a67abb1d1eea533a9a0e0
